{% extends "base.html" %}
{% block title %}Upload CSV{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Upload CSV File</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{csvupload_form.as_p}}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    {% if success %}
        <div class="alert alert-success mt-4">
            CSV file uploaded successfully!
        </div>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger mt-4">
            {{ error }}
        </div>
    {% endif %}
</div>
</div>
{% endblock %}